body{
    background-color:black;

}
.navbar{
    background-color: transparent;
    height: 5vh;
    height: auto;
    display: block;
    border-bottom: ;
    
}
.header{
    color: gray;
    margin-left: 10vw;
    border-color: gray;
    width: fit-content;

}
